<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
	
	<style>
	body {
		background-color: lightblue;
	}
	</style>
	
  </head>
  <body ng-app="starter">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Dimas Application</h1>
    </ion-header-bar>

    <ion-content ng-controller="ExampleController" padding="true">
	
		<center><img src="ionic.png" alt="Mountain View" style="width:304px;height:228px;border-radius: 50%;"></center>
	
		<label class="item item-input">
		  <span class="input-label">Username : </span>
		  <input type="text" placeholder="Enter Your Username" ng-model="user">
		</label>

		<label class="item item-input">
		  <span class="input-label">Password : </span>
		  <input type="password" placeholder="Enter Your Password" ng-model="pass">
		</label>
		
        <button class="button button-full button-calm" ng-click="saveData();openInAppBrowser()">
            Log In
        </button>
		

		
		<div class="row">
		  <div class="col col-10 col-top">
		    <label class="checkbox">
			  <input type="checkbox" ng-model="isChecked" ng-checked="isChecked"> 
		    </label>
		  </div>
			
		  <div class="col col-center">
			Remember me
		  </div>
		</div>
		
		
		
		
    </ion-content>
  </body>
  
</html>
